@font-face {
	font-family: "Gilroy";
	src: url("../../public/fonts/SVNGilroyRegular.eot");
	src:
		url("../../public/fonts/SVNGilroyRegular.eot") format("embedded-opentype"),
		url("../../public/fonts/SVNGilroyRegular.woff2") format("woff2"),
		url("../../public/fonts/SVNGilroyRegular.woff") format("woff"),
		url("../../public/fonts/SVNGilroyRegular.ttf") format("truetype"),
		url("../../public/fonts/SVNGilroyRegular.svg#SVNGilroyRegular") format("svg");
}

@font-face {
	font-family: "Gilroy Medium";
	src: url("../../public/fonts/SVNGilroyMedium.eot");
	src:
		url("../../public/fonts/SVNGilroyMedium.eot") format("embedded-opentype"),
		url("../../public/fonts/SVNGilroyMedium.woff2") format("woff2"),
		url("../../public/fonts/SVNGilroyMedium.woff") format("woff"),
		url("../../public/fonts/SVNGilroyMedium.ttf") format("truetype"),
		url("../../public/fonts/SVNGilroyMedium.svg#SVNGilroyMedium") format("svg");
}

@font-face {
	font-family: "Gilroy Semibold";
	src: url("../../public/fonts/SVNGilroyHeavy.eot");
	src:
		url("../../public/fonts/SVNGilroyHeavy.eot") format("embedded-opentype"),
		url("../../public/fonts/SVNGilroyHeavy.woff2") format("woff2"),
		url("../../public/fonts/SVNGilroyHeavy.woff") format("woff"),
		url("../../public/fonts/SVNGilroyHeavy.ttf") format("truetype"),
		url("../../public/fonts/SVNGilroyHeavy.svg#SVNGilroyHeavy") format("svg");
}

@font-face {
	font-family: "Gilroy Bold";
	src: url("../../public/fonts/SVNGilroyBold.eot");
	src:
		url("../../public/fonts/SVNGilroyBold.eot") format("embedded-opentype"),
		url("../../public/fonts/SVNGilroyBold.woff2") format("woff2"),
		url("../../public/fonts/SVNGilroyBold.woff") format("woff"),
		url("../../public/fonts/SVNGilroyBold.ttf") format("truetype"),
		url("../../public/fonts/SVNGilroyBold.svg#SVNGilroyBold") format("svg");
}

@font-face {
	font-family: "Gilroy Black";
	src: url("../../public/fonts/SVNGilroyBlack.eot");
	src:
		url("../../public/fonts/SVNGilroyBlack.eot") format("embedded-opentype"),
		url("../../public/fonts/SVNGilroyBlack.woff2") format("woff2"),
		url("../../public/fonts/SVNGilroyBlack.woff") format("woff"),
		url("../../public/fonts/SVNGilroyBlack.ttf") format("truetype"),
		url("../../public/fonts/SVNGilroyBlack.svg#SVNGilroyBlack") format("svg");
}

html {
	overflow-x: hidden;
}

body,
html {
	background: #0d1332;
	font-family: "Gilroy";
	font-weight: 400;
	font-size: 18px;
	color: #fff;
	line-height: 1.2;
	-ms-overflow-style: none;
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}

	@media screen and (max-width: 767px) {
		font-size: 14px;
	}
}

.cusSlider {
	.slick-list {
		position: relative;
		z-index: 10;
	}

	.slick-slide {
		height: unset;

		> div {
			height: 100%;
			display: flex;
			align-items: flex-end;
		}
	}

	.slick-dots {
		position: absolute;
		bottom: -20px;
		left: 0;
		z-index: 10;
		display: flex !important;
		justify-content: center;

		li {
			width: fit-content;
			height: fit-content;

			&.slick-active {
				.cusDot {
					background: #ed2224;
				}
			}
		}
	}
}
