@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.cusContainer {
		@apply mx-auto w-[80%] tl-l:w-full tl-l:px-[20px];
	}

	.cusContainerMd {
		@apply mx-auto w-[85%] tl-l:w-full tl-l:px-[20px];
	}

	.cusContainerLarge {
		@apply mx-auto w-[92%] tl-l:w-full tl-l:px-[20px];
	}

	.secSpacing {
		@apply mb-[60px];
	}

	.absFull {
		@apply absolute left-0 top-0 h-full w-full object-cover;
	}

	.mainPage {
		@apply pt-[15vw];
	}

	.errors {
		@apply mt-[5px] text-[12px] text-[#ED2224];
	}

	.text-64 {
		@apply text-[64px] font-bold mb:text-[40px];
	}

	.text-52 {
		@apply text-[52px] font-bold mb:text-[32px];
	}

	.text-50 {
		@apply text-[50px] font-bold mb:text-[32px];
	}

	.text-48 {
		@apply text-[48px] font-bold mb:text-[24px];
	}

	.text-40 {
		@apply text-[40px] font-bold mb:text-[20px];
	}

	.text-36 {
		@apply text-[36px] font-bold mb:text-[20px];
	}

	.text-24 {
		@apply text-[24px] mb:text-[18px];
	}

	.hoverShadow {
		@apply hover:shadow-[0px_0px_30px_#ED2224] group-hover:shadow-[0px_0px_30px_#ED2224];
	}

	.mainBtn {
		@apply border-none bg-red px-[25px] py-[10px] text-center font-bold uppercase outline-none duration-500 hover:bg-white hover:text-blue hover:shadow-[0px_0px_30px_#ED2224];
	}

	.titleStoke {
		@apply text-center font-GilroyBold text-[170px] font-bold mb:text-[70px];
		background: transparent;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		-webkit-text-stroke-width: 2px;
		-webkit-text-stroke-color: white;

		@media screen and (max-width: 767px) {
			-webkit-text-stroke-width: 1px;
		}
	}

	.cusLabel {
		@apply mb-[20px] block text-[24px] text-[#00FFFF] mb:mb-[10px] mb:text-[16px];
	}

	.cusInput {
		@apply w-full rounded-[60px] border-none bg-white px-[30px] py-[15px] text-[18px] text-blue outline-none mb:px-[20px] mb:py-[10px];
	}
}
